/* Variables CSS pour les couleurs */
/* :root {
  --swiper-button-color: #4d8e4d;
}
.swiper-button-prev,
.swiper-button-next {
  font-weight: bold;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  color: var(--swiper-button-color);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
} */
